*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 30vh;
    background-image: url(./assets/imagen1.jpg);
    background-size: 100% 310%;
    background-position: center;
}
header nav{
    padding: .7rem;
    display: flex;
    gap: 1rem;
}
header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: .4rem;
}
header h1{
    font-size: 3rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 2rem;
}
span{
    color: crimson;
}
.active{
    background-color: white;
    color: crimson;
    box-shadow: 1px 1px 1px crimson;
}

main h2{
    text-align: center;
    padding: .9rem;
}
main nav{
display: flex;
justify-content: center;
gap: 1rem;
padding: 8px;

}
main a{
    color: black;
    text-decoration: none;
    padding: .5rem;
   
   
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
}

section{
    height: 18rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    

}
section img{
    height: 15rem;
    width: 100%;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 1rem;
}
section div{
    display:flex;
    justify-content: space-between;

}
section p{
    font-weight: bold;
}
section button{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 8px;
    padding: .2rem;
    margin-bottom: 8px;
    
}
section h5{
    font-weight: lighter;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:azure
}
footer p{
    font-weight: bold;
}
footer a{
    color: crimson;
}
@media only screen and (min-width: 600px) and (max-width: 627px) {
    footer{
        font-size: .9rem;
    }
    footer>p{
        justify-content: center;
    }
}
@media only screen and (min-width: 628px) and (max-width: 991px) {
    
   footer{
    justify-content: space-around;
   }
}
@media only screen and (max-width: 599px) and (min-height:300px) {
    footer{
        flex-direction: column;
    }
}